* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
.nav_element {
  ul,
  li,
  a {
    color: black;
    list-style: none;
    text-decoration: none;
  }
}
footer {
  ul,
  li,
  a {
    list-style: none;
  }
}

#myDIV {
  ul,
  li,
  a {
    text-decoration: none;
    list-style: none;
    
  }
}
